<article class="blog-card card-soft">
  <a [routerLink]="blogLink()" class="blog-card__link">
    @if (blog().image) {
      <div class="blog-card__media">
        <img [src]="blog().image" [alt]="blog().title" loading="lazy" />
      </div>
    }
    <div class="blog-card__body">
      <div class="blog-card__meta">
        @if (blog().category) {
          <span class="blog-card__category">{{ blog().category }}</span>
        }
        @if (blog().read_time) {
          <span class="blog-card__read-time">{{ blog().read_time }} read</span>
        }
      </div>
      <h3 class="blog-card__title">{{ blog().title }}</h3>
      @if (blog().subtitle) {
        <p class="blog-card__subtitle">{{ blog().subtitle }}</p>
      }
      @if (blog().description) {
        <p class="blog-card__description">{{ blog().description }}</p>
      }
      <span class="blog-card__cta">Read article →</span>
    </div>
  </a>
</article>
